@font-face {
    font-family: 'Kunstler Script';
    src: url('KunstlerScript.eot');
    src: url('KunstlerScript.eot?#iefix') format('embedded-opentype'),
        url('KunstlerScript.woff2') format('woff2'),
        url('KunstlerScript.woff') format('woff'),
        url('KunstlerScript.ttf') format('truetype'),
        url('KunstlerScript.svg#KunstlerScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pepita';
    src: url('Pepita.eot');
    src: url('Pepita.eot?#iefix') format('embedded-opentype'),
        url('Pepita.woff2') format('woff2'),
        url('Pepita.woff') format('woff'),
        url('Pepita.ttf') format('truetype'),
        url('Pepita.svg#Pepita') format('svg');
    font-weight: normal;
    font-style: normal;
}

